body {
    font-family: 'Inter', sans-serif;
}

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.tooltip .tooltip-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
    background-color: #004080;
    /* warna tooltip lebih terang biru */
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #004080 transparent transparent transparent;
    /* sesuaikan dengan bg tooltip */
}

@keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}